{% extends 'base.html' %}

{% block content %}
<h1>Vehicle</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Plate</th>
        <th scope="col">WIN</th>
        <th scope="col">Brand</th>
    </tr>
    </thead>
    <tbody>
    {% for vehicle in user_vehicles %}
    <tr>
        <th scope="row">{{ vehicle.id }}</th>
        <td>{{ vehicle.plate_number }}</td>
        <td>{{ vehicle.win_number }}</td>
        <td>{{ vehicle.model.brand }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}